@model MineSweeper.Models.BoardModel


<style>


    .bodyTxt {
        text-align: center;
    }
</style>



<div class="bodyTxt">
    <h1> You won! Congradulations!</h1>
    <h2>Click the link below to start a new game!</h2>


    <a asp-controller="boardsetup" asp-action="Index">Game Board</a>

</div>
<style>
    .game-button {
        width: 74px;
        height: 74px;
        text-align: center;
        background-color: gray;
        color: white;
    }

    .game-button-image {
        width: 70%;
    }

    .button-zone {
        display: flex;
        flex-wrap: wrap;
    }

    .line-break {
        flex-basis: 100%;
        height: 0;
    }
</style>

<br />



<form id="button-grid">
    <div class="button-zone">

        @for (int b = 0; b < Model.size; b++)
        {
            @for (int c = 0; c < Model.size; c++)
            {



                <div class="OneButton" id="@b">
                    <!-- while the game is still running-->


                    @if (Model.Grid[b, c].visited == false)
                    {
                        <button class="game-button" name="buttonId" id="@b" value="@Model.Grid[b, c].row @Model.Grid[b, c].column" disabled type="submit" asp-controller="GameBoard" asp-action="HandleButtonClick">
                            ?
                        </button>
                    }
                    else if (@Model.Grid[b, c].liveNeighbors > 0 && @Model.Grid[b, c].live == false && @Model.Grid[b, c].visited == true)
                    {
                        <button class="game-button" name="buttonId" id="gameButton" value="@Model.Grid[b, c].row @Model.Grid[b, c].column" disabled type="submit" asp-controller="GameBoard" asp-action="HandleButtonClick">
                            @Model.Grid[b, c].liveNeighbors
                        </button>
                    }
                    else if (Model.Grid[b, c].flag == true)
                    {
                        <button class="game-button" name="buttonId" id="@b" value="@Model.Grid[b, c].row @Model.Grid[b, c].column" disabled type="submit" asp-controller="GameBoard" asp-action="HandleButtonClick">
                            <img class="game-button-image" src="~/img/Flag.png" />
                        </button>

                        Model.Grid[b, c].enabled = false;
                    }
                    else if (@Model.Grid[b, c].live == false && @Model.Grid[b, c].liveNeighbors == 0 && @Model.Grid[b, c].visited == true)
                    {
                        <button class="game-button" name="buttonId" id="@b" value="@Model.Grid[b, c].row @Model.Grid[b, c].column" disabled type="submit" asp-controller="GameBoard" asp-action="HandleButtonClick">
                        </button>
                    }
                    else if (Model.Grid[b, c].live == true)
                    {
                        <button class="game-button" name="buttonId" id="@b" value="@Model.Grid[b, c].row @Model.Grid[b, c].column" disabled type="submit" asp-controller="GameBoard" asp-action="HandleButtonClick">
                            <img class="game-button-image" src="~/img/bomb.png" alt="bomb" />
                        </button>
                    }





                </div>

            }
            <div class="line-break"></div>
        }

    </div>
</form>
